.occupy-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    105deg,
    rgb(150, 25, 25) 45%,
    rgb(255, 255, 255) 25%
  );
}

.login-split {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-flex-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left-disp {
  display: flex;
  flex-direction: column;
}
